body {
  font: 14px Arial, sans-serif;
  margin: 0px;
}
.header h1 {
  font-size: 30px;
  text-align: center;
}

.text-center {
  text-align: center;
}

button,
.btn {
  margin: 0 1rem;
}

input,
button,
.btn {
  padding: 0.3rem 0.5rem;
}

.flex_container {
  width: 100%;
  height: 100%;
  background: #18d9eb;
  display: flex;
  flex-direction: column;
}

#root {
  width: 1600px;
  max-width: 100%;
  margin: 2rem auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

#canvas {
  width: 100%;
  padding: 20px 20px;
  background: #acb3b9;
  text-align: center;
  min-height: 400px;
}

#svgBox {
  width: 100%;
  padding: 20px 0;
  background: #216e07;
  box-sizing: border-box;
}

#options {
  width: 100%;
  padding: 20px 20px;
  background: #216e07;
  text-align: center;
  min-height: 100px;
  box-sizing: border-box;
}

.text-italic {
  font-style: italic;
}

.text-sans {
  font-family: sans-serif;
}

svg text.text-white,
svg .fill-white {
  color: #fdf9ea;
  fill: #fdf9ea;
}

svg .fill-red {
  fill: #dc0000;
}

svg text {
  font-size: 0.1rem;
  font-family: "Righteous", cursive;
}

svg text.small {
  font-size: 0.067rem;
}

svg rect,
svg g,
svg text {
  transform-box: fill-box;
  transform-origin: center;
}

rect.card {
  fill: #dc0000;
  stroke: #fdf9ea;
  stroke-width: 0.4%;
}

rect.card-front {
  fill: #fdf9ea;
  stroke: #dc0000;
  stroke-width: 0.4%;
}

.dealerbutton {
  fill: #fdf9ea;
  stroke: black;
  stroke-width: 0.04;
}

circle.pulse {
  fill: #fdf9ea;
  animation: pulse 2s alternate infinite;
}
@keyframes pulse {
  100% {
    r: 1.25;
  }
}

.fadeout {
  animation: fadeout 1s forwards; /* forwards is needed to keep final state after animation finished */
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadein {
  animation: fadein 1s forwards; /* forwards is needed to keep final state after animation finished */
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scale-pulse {
  animation: scalePulse 1s alternate infinite; /* forwards is needed to keep final state after animation finished */
}

@keyframes scalePulse {
  100% {
    transform: scale(1.5);
  }
}
